version: '3'

services:
  angular:
    container_name: angular-app-container
    build:
      context: ./angular-app
    ports:
      - "4200:4200"
    networks:
      - app-network

  django:
    container_name: django-backend-container
    build:
      context: ./django-backend
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
    networks:
      - app-network
    depends_on:
      - db

  db:
    container_name: postgres-db-container
    image: postgres:latest
    environment:
      POSTGRES_USER: fourat
      POSTGRES_PASSWORD: fourat123
      POSTGRES_DB: django_db
    ports:
      - "5432:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
