version: '3'

services:
  angular:
    build:
      context: ./angular-app
    ports:
      - "4200:4200"
    networks:
      - app-network

  django:
    build:
      context: ./django-backend
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: your_db_user
      POSTGRES_PASSWORD: your_db_password
      POSTGRES_DB: your_db_name
    ports:
      - "5432:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
